.input {
  outline: none;
  width: calc(
    100% - var(--nav-width-desktop) * 2 - var(--layout-margin-desktop) * 2
  );
  padding: 0.53em 3em;
  border: var(--border-style) var(--header-borders-dark-grey);
  border-left: 0px transparent;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  &::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: var(--font-light-grey);
  }
}
