.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;

  width: calc(var(--nav-width-desktop) + 1em);
  background-color: var(--button-primary-color);
  border-radius: var(--border-radius);
  border: var(--border-style) var(--button-primary-color);
  padding: 6px 0;
  margin-left: 1rem;

  &:hover {
    background-color: var(--corporate-mid-color);
    border-color: var(--corporate-mid-color);
  }

  &:active {
    background-color: var(--button-primary-active-color);
    border-color: var(--button-primary-active-color);
  }

  .label {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;

    color: var(--button-primary-font-color);
  }

  svg {
    margin-right: 0.5em;
  }
}
