@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  src: local('Roboto'), url(fonts/Roboto-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  src: local('Roboto'), url(fonts/Roboto-Black.ttf) format('truetype');
}
