@mixin header-desktop {
  @media (min-width: 978px) {
    @content;
  }
}

@mixin navigation-desktop {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin responsive-cards-grid {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: 420px) {
    grid-gap: 1.2rem;
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 1000px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 1300px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (min-width: 1450px) {
    grid-template-columns: repeat(5, 1fr);
  }
  @media (min-width: 1600px) {
    grid-gap: 1.4rem;
  }
}
