.viewTitle {
  margin: 0 0.75rem;
  padding-top: 0.7rem;
}

.sectionTitle {
  border-bottom: var(--border-style) var(--border-dark-color);
  padding: 1rem 0 0.4rem 0;
  margin: 0 0.75rem 0.25rem 0.75rem;
}

.loaderWrapper {
  display: flex;
  height: 80vh;
  width: 100%;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.noContent {
  flex-direction: column;
  margin-top: 3rem;
  margin-left: 0.75rem;
  .error {
    color: var(--error-color);
  }
}

.section {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: 420px) {
    grid-gap: 1.2rem;
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 1000px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 1300px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (min-width: 1450px) {
    grid-template-columns: repeat(5, 1fr);
  }
  @media (min-width: 1600px) {
    grid-gap: 1.4rem;
  }
}
